body{
font-family: 'Montserrat', sans-serif;
background-color: #222121;
color: white;
background: linear-gradient(45deg, black, white, black, white);
background-size: 400% 400%;
animation: gradientAnimation 10s ease infinite;
font-size: 16px;
margin: 0 auto;
}

h2 {
  font-size: 2rem; 
}

p {
  font-size: 1rem; 
}

.my-custom-header .container img {
  width: 10%; 
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.my-custom-header {
  background-color: #B51A2B !important;
  color: white;
  padding: 20px 0;
  box-shadow: 5px 5px 10px rgb(255, 1, 1);
}

.Nav-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.my-custom-header .navbar {
  background-color: #B51A2B !important;
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.my-custom-header .container {
  display: flex;
  align-items: center;
}

.my-custom-header .container img {
  width: 60px; 
  height:60px;
  margin-right: 10px; 
  border-radius: 50%;
}

.my-custom-header .container .navbar-brand {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: white;
  transition: color 0.3s; 
  text-decoration: none;
}

.my-custom-header .container a:hover {
  color: #050505; 
}

.my-custom-header .n {
  list-style: none;
  display: flex;
}

.my-custom-header .navbar-nav li {
  margin-right: 5px;
  font-size: 15px;
  font-weight:bold;
}

.my-custom-header .navbar-nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.my-custom-header .navbar-nav a:hover {
  color: #050505;
}

.Pres {
  background-color: #222121;
  color: white;
  text-align: center;
  padding: 100px;
  max-width: 900px;
  margin: 130px auto;
  box-shadow: 5px 5px 10px rgb(255, 1, 1);
}

.SobreMiTexto {
  display: inline-block;
  align-items: center;
  flex-direction: column; /* Alinea el texto e imagen verticalmente */
  text-align: center;
}

.col-md-6 img {
  margin-top: 38%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  transition: transform 0.1s ease-in-out;
}

.col-md-6 img:hover {
  transform: translateY(-2px);
}

.SobreMi {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  color: #B51A2B;
  margin-bottom: 20px;
  white-space: nowrap;
}

.icon-large {
  font-size: 36px;
  margin-right: 10px;
}

.SobreMi i {
  margin-left: 10px;
  color: #B51A2B;
  font-size: 36px;
}


.RedesNombre {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.Sociales li {
  margin: 0px; 
}

.col-md-3 img {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  padding: 20px; 
  transition: transform 0.2s ease-in-out;
}

.col-md-3 img:hover {
  transform: scale(1.1); 
}

.Sociales {
  background-color: #222121; 
  border-radius:inherit;
  box-shadow: 5px 5px 10px rgb(255, 1, 1);
  color: white;
  text-align: center;
  padding: 100px; 
  max-width: 2300px; 
  margin: 200px auto;
  bottom:0;
}


.Redes {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #B51A2B; 
  text-align: center; 
}

.Redes i{
  margin-left: 10px; 
  color: #B51A2B; 
  font-size: 30px;
}

.RedesNombre{
  display: block; 
  text-align: center; 
  font-size: 14px;
  margin-top: 5px; 
}


.RedesNombre{
  font-size: 15px; 
  font-weight: bold;
  margin-top: 5px; 
  color: white; 
}

.Conocimientos {
  background-color: #222121;
  color: white;
  text-align: center;
  padding: 100px;
  max-width: 900px;
  margin: 50px auto;
  margin-top: 150px;
  box-shadow: 5px 5px 10px rgb(255, 1, 1);
}

.ConocimientosTitulo {
  font-size: 36px;
  font-weight: bold;
  color: #B51A2B;
  margin-bottom: 50px;
}

.ConocimientosLista {
  list-style: none;
  padding: 0;
  text-align: left;
}

.ConocimientosLista li {
  font-size: 20px;
  margin-bottom: 10px;
}

.ConocimientosLista {
  list-style: none;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0;
  margin: 0;
}

.ConocimientosLista li {
  margin-right: 4px; 
  border-radius: 50%; 
  overflow: hidden; 
  width: 100px; 
  height: 100px; 
}

.ConocimientosLista img {
  width: 100%;
  height: 100%; 
  transition: transform 0.2s ease-in-out;
}
.ConocimientosLista img:HOVER {
  transform: scale(1.1);
}

.InformacionGeneral {
  background-color: #222121;
  color: white;
  text-align: center;
  padding: 50px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 5px 5px 10px rgb(255, 1, 1);
}

.InformacionGeneral ul {
  list-style: none;
  padding: 0;
  margin-left: 16%;
  margin-top: 20px;
}

.InformacionGeneral li {
  margin-bottom: 1rem;
}

.InformacionGeneralTitulo {
  font-size: 36px;
  font-weight: bold;
  color: #B51A2B;
  margin-bottom: 40px;
}

.InformacionGeneralTexto {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}
.Proyectos {
  background-color: #222121;
  color: white;
  text-align: center;
  padding: 100px;
  max-width: 1200px;
  margin: 50px auto;
  margin-top: 150px;
  box-shadow: 5px 5px 10px rgb(255, 1, 1);
}

.ProyectosTitulo {
  font-size: 36px;
  color: #B51A2B;
  font-weight: bold;
}

.ProyectosContenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.Proyecto {
  width: 300px;
  margin-bottom: 30px;
}

.Proyecto img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 30px;
}

.ProyectoTitulo {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.ProyectoDescripcion {
  font-size: 16px;
  margin-top: 10px;
}

.ProyectoEnlace {
  display: block;
  background-color: #B51A2B;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.ProyectoEnlace:hover {
  background-color: #050505;
}

#VerMas1{
  display: block;
  background-color: #B51A2B;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 70px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#VerMas1:hover{
  background-color: #050505;
}

#VerMas2{
  display: block;
  background-color: #B51A2B;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 0px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#VerMas2:hover{
  background-color: #050505;
}

#VerMas3{
  display: block;
  background-color: #B51A2B;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 45px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#VerMas3:hover{
  background-color: #050505;
}
 
    #mensaje {
      resize: none;
    }
    
  form {
    background-color: #222121;
    color: white;
    text-align: center;
    padding: 50px;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(255, 1, 1);

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px ;
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100% !important; 
    padding: 10px !important;
    font-size: 16px !important;
    border: none !important;
    background-color: #333 !important;
    color: white !important;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  textarea {
    height: 150px !important;
  }
  
  .btn {
    background-color: #B51A2B !important;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #050505 !important;
  }
  

  .contact-title {
    font-size: 36px;
    font-weight: bold;
    color: #B51A2B;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-section{
    background-color: #222121 !important;
    color: white;
    text-align: center;
    padding: 100px;
    max-width: 1200px;
    margin: 50px auto;
    margin-top: 150px;
    box-shadow: 5px 5px 10px rgb(255, 1, 1);
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .success-message {
    background-color: #326234;
    color: white; 
    padding: 5px; 
    border-radius: 5px; 
    text-align: center; 
    display: none; 
    margin-top: 25px;
  }
  
  .success-message p::before {
    font-size: 24px;
    margin-right: 10px;
  }
  

  @media (max-width: 834px) and (min-width: 768px) {
    .Pres .col-md-6 img {
      width: 300px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 50%;
    }
    .Pres .SobreMi {
      font-size: 40px;
      font-weight: bold;
      color: #B51A2B;
      margin-bottom: 20px;
      display: flex;
      align-items: center; 
    }
  
    .Pres .SobreMi i {
      font-size: 30px;
      margin-right: 10px; 
    }
  
    .my-custom-header .container .navbar-brand {
      font-size: 30px !important;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: white;
      transition: color 0.3s; 
      text-decoration: none;
    }
  
    .ConocimientosLista li {
      flex-basis: calc(33.33% - 10px); 
      margin-right: 10px !important;
      margin-bottom: 10px; 
      height: auto;
    }
  
  }
  
  @media (max-width: 768px) {
    .Pres {
      padding: 100px;
      margin: 5% auto; 
    }
  
    .col-md-6 img {
      width: 200px;
      height: 200px;
      margin-left: 10px;
      margin-top: 0;
    }
  
    .SobreMi {
      font-size: 36px;
      margin-left: 0;
      white-space: normal;
    }
  
    .icon-large {
      font-size: 36px;
    }
  
    .SobreMi i {
      margin-left: 20px;
      font-size: 36px;
    }
  
    .ConocimientosLista li {
      flex-basis: calc(33.33% - 10px); 
      margin-right: 5px !important;
      margin-bottom: 10px; 
      height: auto;

    }

    #VerMas1{
      display: block;
      background-color: #B51A2B;
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      margin-top: 126px !important;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    
    #VerMas1:hover{
      background-color: #050505;
    }
    
    #VerMas2{
      display: block;
      background-color: #B51A2B;
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      margin-top: 0px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    
    #VerMas2:hover{
      background-color: #050505;
    }
    
    #VerMas3{
      display: block;
      background-color: #B51A2B;
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      margin-top: 73px !important;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    
    #VerMas3:hover{
      background-color: #050505;
    }

    form {
      background-color: #222121;
      color: white;
      text-align: center;
      padding: 10px;
      max-width: 800px;
      margin: 50px auto;
      border-radius: 10px;
      box-shadow: 5px 5px 10px rgb(255, 1, 1);

  
    }

    .contact-section{
      background-color: #222121 !important;
      color: white;
      text-align: center;
      padding: 100px;
      max-width: 1200px;
      margin: 50px auto;
      margin-top: 150px;
      box-shadow: 5px 5px 10px rgb(255, 1, 1);
    }

    .Proyectos {
      background-color: #222121;
      color: white;
      text-align: center;
      padding: 10px;
      max-width: 1200px;
      margin: 50px auto;
      margin-top: 150px;
      box-shadow: 5px 5px 10px rgb(255, 1, 1);
    }
  }


  @media (max-width: 768px) and (max-width: 1024px){
    .navbar-toggler {
      position: absolute;
      right: 20px;
    }
    .my-custom-header .container .navbar-brand {
      font-size: 15px;
    }
      .Sociales li {
        margin: 0; 
      }
  
      .redes-sociales img {
        width: 40px; 
        height: 40px;
      }
  
      .ConocimientosLista {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
  
      .ConocimientosLista li {
        flex-basis: calc(33.33% - 10px); 
        margin-right: 30px;
        margin-bottom: 10px; 
        height: auto;
      }
  
      .ConocimientosLista img {
        max-width: 100%;
        height: auto;
        border-radius: 50px;
        object-fit: cover;
        transition: transform 0.2s ease-in-out;
      }
  
     
      .ConocimientosLista img:hover {
        transform: scale(1.1);
      }
  
      .Proyecto {
        width: 100%; 
        margin-bottom: 20px; 
      }
  
      .Proyecto img {
        width: 100%;
        max-height: 150px; 
        object-fit: cover;
      }
  
      .SobreMiTexto {
        flex-direction: column; 
        text-align: center; 
      }
      .SobreMiTexto img {
        width: 150px; 
        height: 150px;
        margin: 0 auto 20px;
        margin: 40px;
      }
  
      .SobreMi {
        font-size: 28px;
        text-align: center;
        margin-left: 0px;
      }
  
      .SobreMiTexto p {
        margin-bottom: 20px;
      }
  
      .contact-section {
        text-align: center;
      }
    
      .contact-form {
        max-width: 90%;
      }
    
      .contact-title {
        font-size: 24px;
        margin-bottom: 10px;
      }
    
      label {
        font-size: 16px;
        margin-bottom: 5px;
      }
    
      input[type="text"],
      input[type="email"],
      textarea {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 15px;
      }
    
      .btn-submit {
        font-size: 16px;
        padding: 10px 20px;
      }
    }

    @media (max-width: 1024px) {
      .ProyectosContenedor {
        flex-direction: column; /* Cambia la dirección de la flexbox a columna */
        align-items: center; /* Centra los proyectos verticalmente */
      }
    
      .Proyecto {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin-bottom: 20px;
      }
    
      .Proyecto img {
        max-width: 100%; /* Ajusta el ancho máximo de la imagen para que sea responsiva */
      }

      #VerMas1{
        display: block;
        background-color: #B51A2B;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        margin-top: 70px;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      
      #VerMas1:hover{
        background-color: #050505;
      }
      
      #VerMas2{
        display: block;
        background-color: #B51A2B;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        margin-top: 50px;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      
      #VerMas2:hover{
        background-color: #050505;
      }
      
      #VerMas3{
        display: block;
        background-color: #B51A2B;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        margin-top: 40px;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      
      #VerMas3:hover{
        background-color: #050505;
      }
    }

    input:focus, textarea:focus {
      outline: 2px solid red !important;
    }

    
    