body{
font-family: 'Montserrat', sans-serif;
background-color: #222121;
color: white;

}

header {
  background-color: #be193a;
  color: white;
  padding: 20px 0;
  box-shadow: 5px 5px 10px rgb(255, 1, 1);
}

nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center; 
}

.logo img {
  width: 60px; 
  height:60px;
  margin-right: 10px; 
  border-radius: 50%;
}

.logo span {
  font-size: 30px;
  font-weight: bold;
  transition: color 0.3s; 
}


.logo:hover span {
  color: #050505; 
}


.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 40px;
  font-size: 18px;
  font-weight:bold;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #050505;
}

.centered-section {
  background-color: #be193a; 
  color: white;
  text-align: center;
  padding: 60px; 
  max-width: 800px; 
  margin: 70px auto; 
  box-shadow: 5px 5px 10px rgb(255, 1, 1);
}

.SobreMiTexto {
  display: flex;
  align-items: center; 
}

.SobreMiTexto img {
  margin-left: 100px; 
  width: 200px; 
  height:200px;
  margin-right: 10px; 
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  transition: transform 0.1s ease-in-out;
}

.SobreMiTexto img:hover {
  transform: translateY(-2px);
}

.SobreMi {
  font-size: 30px; 
  color: WHITE; 
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.icon-large {
  font-size: 24px; 
  margin-right: 10px; 
}

.SobreMi i {
  margin-left: 20px; 
  color: #000000; 
  font-size: 30px;
}
